@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
$clr--background-primary: #fafafa;
$clr--background--secondaty: #ffff;
$clr--primary: #222222;
$clr--name: #474747;
$clr--txt-primary: #5c5c5c;
$clr--txt--secondary: #999999;
$clr--txt-input: #d1d1d1;
$clr--accent: #ff8346;
$clr--green: #2ee5ac;
$clr--gray: #7d7d7d;
$clr--card-border1: #e14165;
$clr--card-border2: #c2c2ff;
$clr--card-border3: #8686ff;
$clr--border: #ebebeb;
$clr--red: #fe4848;
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background: $clr--background-primary;
  font-family: "Montserrat", sans-serif;
  color: $clr--primary;
  font-size: 14px;
  margin: 41px 50px;
}
a {
  text-decoration: none;
  color: $clr--primary;
}
::placeholder {
  color: $clr--txt-input;
  overflow: hidden;
}
.input {
  background-color: $clr--background--secondaty;
  display: grid;
  grid-template-columns: 20px 1fr 30px;
  border: 1px solid $clr--border;
  padding: 10px 20px;
  border-radius: 15px;

  &__field {
    outline: 0;
    border: 0;
    background: transparent;
  }
  &__count {
    color: $clr--txt-input;
  }
}

@media screen and (max-width: 390px) {
  body {
    margin: 20px 10px;
  }
}

.card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  border-radius: 3px;
  padding: 15px;
  background: $clr--background--secondaty;
  font-size: 12px;
  margin-top: 10px;
  font-weight: 500;

  &__name {
    font-size: 13px;
    color: $clr--name;
  }
  &__type {
    color: $clr--txt-primary;
    font-weight: 400;
  }
  &__online {
    color: $clr--green;
  }
  &__paused {
    color: $clr--accent;
  }
  &__stopped {
    color: $clr--red;
  }
  &__draft {
    color: $clr--txt-primary;
  }
  &__site {
    color: $clr--txt-primary;
    font-weight: 400;
  }
  &__red {
    border-left: 4px solid $clr--accent;
  }
  &__light-purple {
    border-left: 4px solid $clr--card-border2;
  }
  &__purple {
    border-left: 4px solid $clr--card-border3;
  }
  &__green {
    border-left: 4px solid $clr--green;
  }
  &:hover {
    cursor: pointer;
  }
}

.btn {
  border: none;
  border-radius: 10px;
  color: #ffff;
  font-size: 12px;
  padding: 5px 20px;
  cursor: pointer;
  &__green {
    background-color: $clr--green;
  }
  &__gray {
    background-color: $clr--gray;
  }
}

.sort {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  margin-top: 30px;
  &__btn {
    background: transparent;
    outline: none;
    border: 0;
    color: $clr--txt--secondary;
    font-size: 11px;
    font-weight: 500;

    &:hover {
      color: $clr--accent;
      transition: all 0.3s;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 600px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: start;
  }
}

.noresults {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__txt {
    font-size: 18px;
    font-weight: 500;
    margin: 40px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-between;
  font-weight: 700;

  &__txt {
    display: flex;
    flex-direction: column;
    &--heading {
      font-size: 26px;
    }
    &--subheading {
      font-weight: 600;
      margin-top: 5px;
    }
  }

  &__back--btn {
    display: flex;
    font-size: 18px;
    align-items: center;
    cursor: pointer;
  }
}

/*Loader*/
@keyframes skeleton-animation {
  0% {
    right: 100%;
  }

  50% {
    right: -128px;
  }

  100% {
    right: 100%;
  }
}

.skeleton {
  overflow: hidden;
  width: 100%;
  height: 78px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 8px;
  position: relative;
  margin-top: 20px;

  &:before {
    display: block;
    position: absolute;
    width: 128px;
    height: 20px;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      #fff,
      rgba(255, 255, 255, 0)
    );
    content: "";
    animation: skeleton-animation 1.25s infinite;
  }

  .s-line {
    height: 20px;
    background: #eee;

    &.first {
      width: 100%;
    }

    &.second {
      width: 75%;
    }

    &.third {
      width: 50%;
    }
  }
}
